{# templates/experience/work.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ section_title }}{% endblock %}
{% block body %}
    <div class="block p-4">
        <div class="columns">
            <div class="column is-three-quarters">
        {% for experience in experience_list %}
                <div class="box">
                    <article class="experience media">
                        <div class="media-left">

                        </div>
                        <div class="media-content">
                            <figure class="image is-64x64 company-logo">
                                {% if experience.companyLogo is not defined %}
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="No Logo" />
                                {% else %}
                                    <img src="{{ experience.companyLogo }}" alt="Company Logo" />
                                {% endif %}
                            </figure>
                            <div class="content">
                                <p>
                                    <strong class="title">{{ experience.title }}</strong>
                                </p>
                                <p>
                                    <i class="fa-solid fa-industry"></i>&nbsp;<strong>{{ experience.company }}</strong>&nbsp;<a class="fa-solid fa-up-right-from-square" href="{{ experience.companyLink }}"></a>
                                </p>
                                <p>
                                    <i class="fa-solid fa-timeline"></i>&nbsp;Desde <strong>{{ experience.fromTo.from }}</strong> a <strong>{{ experience.fromTo.to }}</strong>
                                </p>
                                <p style="text-align: justify">
                                    <i class="fa-regular fa-file-lines"></i>&nbsp;{{ experience.description }}
                                </p>
                                    {% if experience.headTechnologies is defined %}
                                        {% set technologies = experience.headTechnologies %}
                                    <p>
                                        <i class="fa-solid fa-laptop-code"></i>&nbsp;Tecnologías&nbsp;
                                        {% for technology in technologies %}
                                            <span class="tag is-info is-rounded">{{ technology }}</span>
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                    {% if experience.headSkills is defined %}
                                        {% set skills = experience.headSkills %}
                                    <p>
                                        <i class="fa-solid fa-user-astronaut"></i>&nbsp;Habilidades&nbsp;
                                        {% for skill in skills %}
                                            <span class="tag is-success is-rounded">{{ skill }}</span>
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
        {% endfor %}
            </div>
            <div class="column">
                {{ include('chart.html.twig', {'dataPoints': chartDataPoints, 'title': charTitle, 'subtitle': chartSubtitle}) }}
                {{ include('bio.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}